<!-- all_masters.html -->
{% extends "base.html" %}
{% load static %}
{% block content %}
</br>
</br>
</br>
</br>
</br>
<title>Все мастера </title>
</br>
<div style="max-width:555px;" class="container justify justify-content-center pt-5 mt-5">
    <h3 align="center">Все мастера</h3>
    </br>
    <div class="list-group text-center fw-bolder shadow p-2 mb-1 bg-body rounded border-bottom">
        {% for master in masters %} 
        <div class="container h5 border-bottom mt-1 mb-2">
            <div class="row align-items-center">
                <div class="col">
                    <div class="d-flex justify-content-center align-items-center">
                        <a class="text-decoration-none text-reset" href="{% url 'profile_url' master.id %}">{{ master.id }}</br>{{ master.name }}</br>{{ master.city }}</br>{{ master.service }}</a>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex justify-content-end">
                        <img class="img-thumbnail img-fluid" src="{% if master.photo %}{{ master.photo.url }}{% else %}/path/to/placeholder-image.jpg{% endif %}" width="120">
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

