{% extends "base.html" %}
{% load static %}
{% block content %}

<div style="max-width:555px;" class="container justify justify-content-center pt-5 mt-5">
    <h3 align="center">Север</h3>     
  <div class="list-group text-center fw-bolder shadow p-2 mb-1 bg-body rounded">
    <a href="/cities/35/" class="list-group-item list-group-item-action" >Хайфа</a>
    <a href="/cities/5/" class="list-group-item list-group-item-action" >Акко</a>
    <a href="/cities/8/" class="list-group-item list-group-item-action" >Афула</a>
    <a href="/cities/41/" class="list-group-item list-group-item-action" >Йокнеам-Илит</a>
    <a href="/cities/13/" class="list-group-item list-group-item-action" >Кармиэль</a>
    <a href="/cities/14/" class="list-group-item list-group-item-action" >Кесария</a>
    <a href="/cities/15/" class="list-group-item list-group-item-action" >Кирьят-Ата</a>
    <a href="/cities/16/" class="list-group-item list-group-item-action" >Кирьят-Бялик</a>
    <a href="/cities/17/" class="list-group-item list-group-item-action" >Кирьят-Моцкин</a>
    <a href="/cities/18/" class="list-group-item list-group-item-action" >Кирьят-Ям</a>
    <a href="/cities/22/" class="list-group-item list-group-item-action" >Мигдаль-ха-Эмек</a>
    <a href="/cities/23/" class="list-group-item list-group-item-action" >Нагария</a>
    <a href="/cities/24/" class="list-group-item list-group-item-action" >Нешер</a>
    <a href="/cities/27/" class="list-group-item list-group-item-action" >Ноф-ха-Галиль</a>
    <a href="/cities/34/" class="list-group-item list-group-item-action" >Хадера</a>
    <a href="/cities/36/" class="list-group-item list-group-item-action" >Хариш</a>
</div>
</div>

<div style="max-width:555px;" class="container justify justify-content-center pt-3 mt-0">
    <h3 align="center">Центр</h3>     
  <div class="list-group text-center fw-bolder shadow p-2 mb-1 bg-body rounded">
    <a href="/cities/1/" class="list-group-item list-group-item-action" >Тель-Авив</a>
    <a href="/cities/9/" class="list-group-item list-group-item-action" >Бат-Ям</a>
    <a href="/cities/11/" class="list-group-item list-group-item-action" >Герцлия</a>
    <a href="/cities/19/" class="list-group-item list-group-item-action" >Кфар-Йона</a>
    <a href="/cities/20/" class="list-group-item list-group-item-action" >Кфар-Сава</a>
    <a href="/cities/21/" class="list-group-item list-group-item-action" >Лод</a>
    <a href="/cities/25/" class="list-group-item list-group-item-action" >Нетания</a>
    <a href="/cities/28/" class="list-group-item list-group-item-action" >Петах-Тиква</a>
    <a href="/cities/29/" class="list-group-item list-group-item-action" >Раанана</a>
    <a href="/cities/30/" class="list-group-item list-group-item-action" >Рамат-Ган</a>
    <a href="/cities/43/" class="list-group-item list-group-item-action" >Рамла</a>
    <a href="/cities/31/" class="list-group-item list-group-item-action" >Реховот</a>
    <a href="/cities/32/" class="list-group-item list-group-item-action" >Ришон-ле-Цион</a>
    <a href="/cities/33/" class="list-group-item list-group-item-action" >Рош-ха-Аин</a>
    <a href="/cities/37/" class="list-group-item list-group-item-action" >Ход-ха-Шарон</a>
    <a href="/cities/38/" class="list-group-item list-group-item-action" >Холон</a>
    <a href="/cities/40/" class="list-group-item list-group-item-action" >Явне</a>
</div>
</div>

<div style="max-width:555px;" class="container justify justify-content-center pt-3 mt-0">
    <h3 align="center">Иерусалим и округ</h3>     
  <div class="list-group text-center fw-bolder shadow p-2 mb-1 bg-body rounded">
    <a href="/cities/2/" class="list-group-item list-group-item-action" >Иерусалим</a>
</div>
</div>

<div style="max-width:555px;" class="container justify justify-content-center pt-3 mt-0">
    <h3 align="center">Юг</h3>     
  <div class="list-group text-center fw-bolder shadow p-2 mb-1 bg-body rounded">
    <a href="/cities/10/" class="list-group-item list-group-item-action" >Беэр-Шева</a>
    <a href="/cities/6/"  class="list-group-item list-group-item-action" >Арад</a>
    <a href="/cities/7/" class="list-group-item list-group-item-action" >Ариель</a>
    <a href="/cities/3/" class="list-group-item list-group-item-action" >Ашдод</a>
    <a href="/cities/4/" class="list-group-item list-group-item-action" >Ашкелон</a>
    <a href="/cities/12/" class="list-group-item list-group-item-action" >Димона</a>
    <a href="/cities/42/" class="list-group-item list-group-item-action" >Кирьят-Гат</a>
    <a href="/cities/26/" class="list-group-item list-group-item-action" >Нетивот</a>
    <a href="/cities/39/" class="list-group-item list-group-item-action" >Эйлат</a>
</div>
</div>
</br></br>



{% comment %} 
<title>Выбор города</title></br>
    <div style="max-width:555px;" class="container justify justify-content-center pt-5 mt-5">
        <h3 align="center">Выбор города</h3>     
      <div class="list-group text-center fw-bolder shadow p-2 mb-1 bg-body rounded">
        {% for city in cities %}
        {% if not city.is_invisible %}
            <a href="{% url 'category' city.id %}" class="list-group-item list-group-item-action" >{{ city.name }}</a>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endcomment %}

{% endblock %}
