<!-- all_masters.html -->
{% extends "base.html" %}
{% load static %}
{% block content %}
</br>
</br>
</br>
</br>
</br>
</br>
<section class="container pb-5 mb-lg-5">
    <h3 align="center">Наши контакты</h3>
    <div class="row g-4">
        <div class="col-md-4">
            <a class="icon-box card card-body border-0 shadow-sm card-hover h-100 text-center" href="mailto:972profis@gmail.com">
                <div class="icon-box-media bg-faded-accent text-accent rounded-circle mx-auto mb-3"><i class="bi bi-envelope-check"></i></div>
                <span class="d-block mb-1 text-body">Пишите</span>
                <h3 class="h4 icon-box-title mb-0 opacity-90">972profis@gmail.com</h3>
            </a>
        </div>
        <div class="col-md-4">
            <a class="icon-box card card-body border-0 shadow-sm card-hover h-100 text-center" href="https://wa.me/972539578359">
                <div class="icon-box-media bg-faded-success text-success rounded-circle mx-auto mb-3"><i class="bi bi-whatsapp"></i></div>
                <span class="d-block mb-1 text-body">WhatsApp чат</span>
                <h3 class="h4 icon-box-title mb-0 opacity-90">053-957-83-59</h3>
            </a>
        </div>
        <div class="col-md-4">
            <a class="icon-box card card-body border-0 shadow-sm card-hover h-100 text-center" href="#">
                <div class="icon-box-media bg-faded-warning text-warning rounded-circle mx-auto mb-3"><i class="bi bi-instagram"></i></div>
                <span class="d-block mb-1 text-body">Подписывайтесь</span>
                <h3 class="h4 icon-box-title mb-0 opacity-90">@profi.israel</h3>
            </a>
        </div>
    </div>
</section>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d108513.540424818!2d35.092958370849516!3d31.79643796997744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1502d7d634c1fc4b%3A0xd96f623e456ee1cb!2z0JjQtdGA0YPRgdCw0LvQuNC8LCDQmNC30YDQsNC40LvRjA!5e0!3m2!1sru!2sru!4v1700519028821!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  

{% endblock %}

