{% extends "base.html" %}
{% load static %}
{% block content %}
</br>
<div class="container d-flex justify-content-center align-items-center pt-5 mt-5" style="max-width: 500px;">
  <div class="text-center fw-bolder shadow p-3 mb-5 bg-body rounded">
    <h3>Регистрация прошла успешно</h3>
          <div class="col">
        </br>
        <p>Благодарим вас за регистрацию!</p>
        <p>Сейчас ваша анкета на модерации</p>
        <p>В течении пары часов она будет доступна для всех</p>
    </br></br>
            <a class="btn btn btn-primary rounded" href="https://profisrael.com">
              Перейти на главную</i>  
            </a>
        </div>
    </div>
</div>

{% endblock %} 